@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
margin:0;
padding:0;
box-sizing:border-box;
}
img{
    max-width: 100%;

/*CSS página de inicio*/
}
header{
    position: sticky;
    top: 0;
    z-index: 99;
    background-color:black;
    color:whitesmoke;
    font-family: "Press Start 2P"; 
}
body{
    background-color: black;
}
#logo {
    width: 15%;
    padding: 5px;
    marging: auto;
}
nav{
    width: 80%;
    margin: 0 auto;   
}
nav>ul {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    list-style: none;

}
li a{
    list-style: none;
    text-decoration: none;
    color:white;
}
h1{
    color: white;
    font-family: "Press Start 2P";   
}
section#imagen_inicio{
background:url("./imagenes/fondo_inicio.jpg");
background-size: cover;
display:flex;
height: 90vh;
background-position: bottom center;
justify-content: center;
align-items: center;
}
section#imagen_inicio > h1 {
    font-family: "Press Start 2P";
    color:rgba(245, 245, 245, 0.801);   
}

#sinopsis{
    background: url(./imagenes/gifayos.gif);
    background-size: cover;
    color:white;
    display: flex ;   
      
}
#sinopsis>div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5%;
    height: 40vh;
}
h2, h3{
    font-family: "Press Start 2P";  
    color: white;  
}
p{
    margin-top:10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:large;
    color:white;
}
#lugares{
   background-color: rgb(133, 10, 10);
   color: white;
}
#lugares>h2{
    display: flex;
    justify-content: center;
    padding: 2%;   
}
#lugares> div{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.lugares{
    background-color: black;
    width:45%;
    margin: 8px 30px 40px 30px;
    border: 1px solid black;
    border-radius: 24px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lugares>img{
width: 70%; 
height: 40vh;  
}
.lugares>h3{
    margin-top: 7px;
}
footer{
    background-color: black;
    color: white; 
    
}
footer>div{
    
    display:flex;
    justify-content: center;
}
footer > div img {
    width: 40px;
    margin: 20px;
}
footer > p {
    text-align: center;
    font-size:12px;
}
/*CSS página de personajes*/
#personajes {
background: url(./imagenes/imgpersonajes/personajes.jpg);
background-size: cover;
height: 90vh;
display:flex;
justify-content: center;
/*buscar como hace un degradado */
}
#personajes>h1 {
    padding-top: 10%;
}
#niños, #adolescentes, #adultos, #bonus{
 background-color: black;   
 display:flex;
 flex-wrap: wrap;
}
#niños > h2, #adolescentes > h2, #adultos> h2, #bonus > h2{
    display: flex;
    justify-content: center;
    padding: 2%;
    width: 100%;
}
#niños>div, #adolescentes>div, #adultos > div, #bonus > div{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:30%; 
    border: 3px solid white;
    border-radius: 40px;
    margin: 8px 20px 30px 20px;
    box-shadow:0 0 25px rgb(189, 1, 1);
}
#niños div > img, #adolescentes div > img, #adultos div> img, #bonus div > img{
    width: 40%;
    filter: drop-shadow(1px 1px 20px white);
}
/*CSS página de teorías*/
#img5{
    background-color: black;
    display:flex;
    justify-content: center;
}
#img5 div> img{
   padding-left: 10%;
}
#teorias_normales{
background-color: black;
margin-top: 5%;
display:flex;
flex-direction: column;
justify-content: center;
}
#teorias_normales> div{
    border: 3px solid white;
    border-radius: 40px;
    padding: 20px;
    margin: 20px 15px;
}


